In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
# Player Count
# ~~total number of players~~

total_player_df = purchase_data_df[["SN", "Gender", "Age"]]

# This part removes the duplicate values from "SN" column
total_player_No_Dup_df = total_player_df.drop_duplicates(subset=["SN"])

total_player = total_player_No_Dup_df["SN"].count()

print("Total Player Count: " + str(total_player))

Total Player Count: 576

In [3]:
# Purchasing Analysis (Total)

# Variables
total_unique_items = purchase_data_df["Item ID"].nunique()
total_purchases = purchase_data_df["Purchase ID"].count()
average_item_price = purchase_data_df["Price"].mean()
total_revenue = purchase_data_df["Price"].sum()


# Summary Table
purch_summary_df = pd.DataFrame([
    {"Unique Items purchased": total_unique_items,
     "Total Purchases": total_purchases,
     "Average Item Price": average_item_price,
     "Total Revenue": total_revenue}
])

# Column Formating

purch_summary_df["Average Item Price"] = purch_summary_df["Average Item Price"].map("${:,.2f}".format)
purch_summary_df["Total Revenue"] = purch_summary_df["Total Revenue"].map("${:,.2f}".format)

#Display purchasing analysis
purch_summary_df

   Unique Items purchased  Total Purchases Average Item Price Total Revenue
0                     179              780              $3.05     $2,379.77

In [4]:
# Player Gender Demographics
# ~~Find breakdown count & percentage of player genders in data~~


gender_count_df = pd.DataFrame([total_player_No_Dup_df["Gender"].value_counts()]).transpose()
gender_percent = gender_count_df["Gender"] / total_player
gender_count_df.rename(columns ={"Gender": "Total Count"})
gender_count_df["Percent of Players"] = gender_percent.map("{:.2%}".format)
gender_count_df_2 = gender_count_df.rename(columns ={"Gender": "Total Count"})
gender_count_df_2

                       Total Count Percent of Players
Male                           484             84.03%
Female                          81             14.06%
Other / Non-Disclosed           11              1.91%

In [5]:
# Purchasing Analysis (Gender)

# Setup the groupby to grab the data
gender_purch_group_df = purchase_data_df.groupby(["Gender"])

# Set the variables by modifying the function at the end of the groupby reference
gender_purch_avg = gender_purch_group_df["Price"].mean()
gender_purch_total = gender_purch_group_df["Price"].sum()
gender_purch_count = gender_purch_group_df["Purchase ID"].count()
gender_purch_person = (gender_purch_total / gender_count_df_2["Total Count"])

# Put it all in a new data frame
gender_purch_summary_df = pd.DataFrame({"Purchase Count": gender_purch_count,
                                        "Average Purchase Price": gender_purch_avg,
                                        "Total Purchase Value": gender_purch_total,
                                        "Avg Total Purchase per Person": gender_purch_person})


# Column Formating
gender_purch_summary_df["Average Purchase Price"] = gender_purch_summary_df["Average Purchase Price"].map("${:,.2f}".format)
gender_purch_summary_df["Total Purchase Value"] = gender_purch_summary_df["Total Purchase Value"].map("${:,.2f}".format)
gender_purch_summary_df["Avg Total Purchase per Person"] = gender_purch_summary_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

#Display purchasing analysis
gender_purch_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [6]:
# Age Demographics
# ~~Find breakdown count & percentage of player ages in data~~

#setup initial dataframe
player_age_demo_def = total_player_No_Dup_df

#set up bin and group names
bins = [0, 9, 14, 19, 24, 29, 34, 39, 2000]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#add the group name to player_age_demo_def
player_age_demo_def["Age Group"] = pd.cut(player_age_demo_def["Age"], bins, labels=group_names)

#Create the dataframe that will hold final summary table
age_count_df = pd.DataFrame([player_age_demo_def["Age Group"].value_counts()]).transpose()
age_percent = age_count_df["Age Group"] / total_player
age_count_df["Percent of Players"] = age_percent.map("{:.2%}".format)
age_count_df_2 = age_count_df.rename(columns ={"Age Group": "Total Count"})
age_count_df_2

C:\Users\mcbad\anaconda3\envs\PytonData\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

       Total Count Percent of Players
20-24          258             44.79%
15-19          107             18.58%
25-29           77             13.37%
30-34           52              9.03%
35-39           31              5.38%
10-14           22              3.82%
<10             17              2.95%
40+             12              2.08%

In [7]:
# Purchasing Analysis (Gender)

# Setup the groupby to grab the data
#add the age group name to player_age_demo_def
# Setup the groupby to grab the data
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names)
age_purch_group_df = purchase_data_df.groupby(["Age Group"])

# Set the variables by modifying the function at the end of the groupby reference
age_purch_avg = age_purch_group_df["Price"].mean()
age_purch_total = age_purch_group_df["Price"].sum()
age_purch_count = age_purch_group_df["Purchase ID"].count()
age_purch_person = (age_purch_total / age_count_df_2["Total Count"])

# Put it all in a new data frame
age_purch_summary_df = pd.DataFrame({"Purchase Count": age_purch_count,
                                        "Average Purchase Price": age_purch_avg,
                                        "Total Purchase Value": age_purch_total,
                                        "Avg Total Purchase per Person": age_purch_person})


# Column Formating
age_purch_summary_df["Average Purchase Price"] = age_purch_summary_df["Average Purchase Price"].map("${:,.2f}".format)
age_purch_summary_df["Total Purchase Value"] = age_purch_summary_df["Total Purchase Value"].map("${:,.2f}".format)
age_purch_summary_df["Avg Total Purchase per Person"] = age_purch_summary_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

#Display purchasing analysis
age_purch_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [8]:
# Top Spenders

# Setup the groupby to grab the data
top_spend_df = purchase_data_df.groupby(["SN"])

# Set the variables by modifying the function at the end of the groupby reference
top_spend_avg = top_spend_df["Price"].mean()
top_spend_total = top_spend_df["Price"].sum()
top_spend_count = top_spend_df["Purchase ID"].count()

# Put it all in a new data frame
top_spend_summary_df = pd.DataFrame({"Purchase Count": top_spend_count,
                                        "Average Purchase Price": top_spend_avg,
                                        "Total Purchase Value": top_spend_total})

# Column Formating
top_spend_summary_df["Average Purchase Price"] = top_spend_summary_df["Average Purchase Price"].map("${:,.2f}".format)
top_spend_summary_df["Total Purchase Value"] = top_spend_summary_df["Total Purchase Value"].map("${:,.2f}".format)
top_spend_summary_sort_df = top_spend_summary_df.sort_values(by = ["Total Purchase Value"], ascending = False)


#Display purchasing analysis
top_spend_summary_sort_df

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18
...                      ...                    ...                  ...
Qilalista41                1                  $1.02                $1.02
Ililsasya43                1                  $1.02                $1.02
Aidai61                    1                  $1.01                $1.01
Chanirra79                 1                  $1.01                $1.01
Alo38                      1                  $1.00                $1.00

[576 rows x 3 columns]

In [13]:
# Most Popular Items

# Setup the groupby to grab the data
popular_item_group = purchase_data_df.groupby(["Item ID", "Item Name"])

# Set the variables by modifying the function at the end of the groupby reference
popular_item_avg = popular_item_group["Price"].mean()
popular_item_total = popular_item_group["Price"].sum()
popular_item_count = popular_item_group["Purchase ID"].count()

# Put it all in a new data frame
popular_item_summary_df = pd.DataFrame({"Purchase Count": popular_item_count,
                                        "Item Price": popular_item_avg,
                                        "Total Purchase Value": popular_item_total})

# Column Formating
popular_item_summary_df["Total Purchase Value"] = popular_item_summary_df["Total Purchase Value"].map("${:,.2f}".format)
popular_item_summary_df["Item Price"] = popular_item_summary_df["Item Price"].map("${:,.2f}".format)
popular_item_summary_sort_df = popular_item_summary_df.sort_values(by = ["Purchase Count"], ascending = False)


#Display purchasing analysis
popular_item_summary_sort_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
...,...,...,...,...
42,The Decapitator,1,$1.75,$1.75
51,Endbringer,1,$4.66,$4.66
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
104,Gladiator's Glaive,1,$1.93,$1.93
91,Celeste,1,$4.17,$4.17