In [39]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [40]:
#Player Count
# ~~total number of players~~

total_player = purchase_data_df["SN"].nunique()
print("Total Player Count: " + str(total_player))

Total Player Count: 576

In [46]:
# Purchasing Analysis (Total)

# Variables
total_unique_items = purchase_data_df["Item ID"].nunique()
total_purchases = purchase_data_df["Purchase ID"].count()
average_item_price = purchase_data_df["Price"].mean()
total_revenue = purchase_data_df["Price"].sum()
smallest_purchase = purchase_data_df["Price"].min()
largest_purchase = purchase_data_df["Price"].max()

# Summary Table
purch_summary_df = pd.DataFrame([
    {"Unique Items purchased": total_unique_items,
     "Total Purchases": total_purchases,
     "Largest Single Purchase": largest_purchase,
     "Smallest Single Purchase": smallest_purchase,
     "Average Item Price": average_item_price,
     "Total Revenue": total_revenue}
])

#Column Formating
purch_summary_df["Largest Single Purchase"] = purch_summary_df["Largest Single Purchase"].map("${:,.2f}".format)
purch_summary_df["Smallest Single Purchase"] = purch_summary_df["Smallest Single Purchase"].map("${:,.2f}".format)
purch_summary_df["Average Item Price"] = purch_summary_df["Average Item Price"].map("${:,.2f}".format)
purch_summary_df["Total Revenue"] = purch_summary_df["Total Revenue"].map("${:,.2f}".format)

#Display purchasing analysis
purch_summary_df

,Unique Items purchased,Total Purchases,Largest Single Purchase,Smallest Single Purchase,Average Item Price,Total Revenue
0,179,780,$4.99,$1.00,$3.05,"$2,379.77"