In [38]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [43]:
# Player Count
# ~~total number of players~~

total_player_df = purchase_data_df[["SN", "Gender"]]
total_player_No_Dup_df = total_player_df.drop_duplicates(subset=["SN"])
total_player = total_player_No_Dup_df["SN"].count()

print("Total Player Count: " + str(total_player))

Total Player Count: 576

In [45]:
# Purchasing Analysis (Total)

# Variables
total_unique_items = purchase_data_df["Item ID"].nunique()
total_purchases = purchase_data_df["Purchase ID"].count()
average_item_price = purchase_data_df["Price"].mean()
total_revenue = purchase_data_df["Price"].sum()
smallest_purchase = purchase_data_df["Price"].min()
largest_purchase = purchase_data_df["Price"].max()

# Summary Table
purch_summary_df = pd.DataFrame([
    {"Unique Items purchased": total_unique_items,
     "Total Purchases": total_purchases,
     "Average Item Price": average_item_price,
     "Total Revenue": total_revenue}
])

# Column Formating

purch_summary_df["Average Item Price"] = purch_summary_df["Average Item Price"].map("${:,.2f}".format)
purch_summary_df["Total Revenue"] = purch_summary_df["Total Revenue"].map("${:,.2f}".format)

#Display purchasing analysis
purch_summary_df

   Unique Items purchased  Total Purchases Average Item Price Total Revenue
0                     179              780              $3.05     $2,379.77

In [50]:
# Player Gender Demographics
# ~~Find breakdown count & percentage of player genders in data~~


gender_count_df = pd.DataFrame([total_player_No_Dup_df["Gender"].value_counts()]).transpose()
gender_percent = gender_count_df["Gender"] / total_player
gender_count_df["Percent of Players"] = gender_percent.map("{:.2%}".format)
gender_count_df

                       Gender Percent of Players
Male                      484             84.03%
Female                     81             14.06%
Other / Non-Disclosed      11              1.91%

In [23]:
# Purchasing Analysis (Gender)

gender_count_df = gender_count_df.rename(columns={"Total Count": "Gender"})
gender_purch = pd.merge(gender_count_df, purchase_data_df, on="Gender")




purch_gender_df

ValueError: The column label 'Gender' is not unique.